@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.smenu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e9e9e9;
    
    padding: 0 32px;
    
    transition: 400ms;
  color: #000000;
  flex-direction: row;
    align-items: center;
    display: flex;
    flex-direction: row;
   
  }
  .smenu a
  {
    margin: 0 2rem;
    text-decoration: none;
    padding: 0rem .1rem;
  }
  .smenu .by
  {
    font-size: 18px;
    display: flex;
    align-items: center;
    
    text-decoration: none;
    
  }
  .smenu img
  {
    margin-left: -40%;
    margin-top: 1%;
  }
  .smenu a
  {
    color: #000000;
  }
  .smenu a:hover
  {
    text-decoration: underline;
  }
.https ul
{
    display: none;
font-size: 15px;
background: rgb(255, 255, 255);
color: black;
width: 280px;
height: 10px;
border-radius: 7px;
text-align: center;

box-shadow: 0 8px 12px rgb(0 0 0 / 24%), 0 0 12px rgb(0 0 0 / 12%);
font-size: 17px;
font-weight: bold;

}
.https img
{
    cursor: help;
}
.https img:hover + ul
{
  
    display: block;
}

li
{
    display: none;
}
@media screen and (max-width: 1206px) {
    .logo
    {
display: none;
    }
}
 

.ad
{
    
    background: #fdc330;
    border-radius: 2px;
    padding: 1px 3px;

    color: #202124;
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 0px;
    white-space: nowrap;
}

hr
{

  border: 0.1px solid rgb(227, 226, 226);
}
.poddomeny
{
    margin-left: 2%;
}
* {

    margin: 0;
  }
  p {
    margin: 7px 0;
    line-height: 2;
  }
body
{
    margin: 0;
    padding: 0;
}
.https
{
    font-size: 14px;
}
.h6
{
    font-size: 14px;
}
.opis
{
    color: rgb(88, 88, 88);
    font-size: 14px;
}


.search1 a
{
    color: #1c0fae;
    text-decoration: none;
}
.menu a
{
    color: rgb(88, 88, 88);
    text-decoration: none;
    margin: 0 3rem;
}
.menu a:hover
{
    text-decoration: underline;
}
.search1 a:hover
{
text-decoration: underline;

}
.search1 a:focus
{
    cursor: progress;
}
.search1 a:visited
{
    color: #8921a5;
}
.dark .search1 a:visited
{
    color: #c385fa;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    
}


.wrapper {
    width: 100%;
   
    
}

.header {
    
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    
    padding: 20px 40px;
    
  
    background-size: cover;
    background-position: center;
    z-index: 0;
}
.u .fa-cog
{
  
    font-size: 25px;
    color: rgb(88, 88, 88);
   
}
.u
{
    position: absolute;
    top: 35%;
   left: 10%;
  
}

.u a:hover
{
    color: #269DFF;
}
.logo img
{
    
    position: absolute;
    top: 25%;
    
}

.keywords
{
    display: none;
}
.search1
{
   
    margin-bottom: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    
    
}
.search {


align-items: center;

    display: flex;
   padding: 0px 20px;
    margin-left: 25%;
    width: 40%;
    font-size: 16px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.179);
  
}
.search:hover
{
    box-shadow: 0 3px 5px 2px rgba(64, 60, 67, 0.179);
}

.drink-list {
    padding: 20px 40px;
}

h2 {
    padding: 30px 0;
}

ul {
    padding-bottom: 30px;
    font-size: 23px;
    list-style: none;
}

li {
    padding: 8px 30px;
    
}

li:last-child {
    border-bottom: 0;
}
.dropdown
{
    position: relative;
}
.dropdown ul
{
   
   width: 200px;
    text-align: center;
    position: absolute;
   
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: none;
    background-color: #ffffff;
}
.dropdown ul li
{
    padding: .5rem;
}
.dropdown ul li h6
{
width: 100%;
height: 100%;
display: inline-block;
padding: 0;
margin: 0;
}
.dropdown img:hover + ul 
{
  display: block;
}
.no
{
    background: radial-gradient(circle at center center, #583399 0%, #D300FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}











:root {
    --color-bg: #fff;
    --color-main: rgb(43, 43, 43);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-bg);
    color: var(--color-main);
}


h1 {
    font-size: 48px;
}





.icon:hover
{
    cursor: pointer;
}


header a
{
    color: black;
}

header button
{
    background: #ffffff00;
    border: 0;
}

.icon i
{
    font-size: 20px;
}
/* LIGHT MODE */
body.light {
    --color-bg: #fff;
    --color-main: #000;
}
.light .u ul
{
    background: #2a2b2f;
}
body.light .icon i {
    color: rgb(213, 203, 6);
    transform: translateX(0);
}

body.light .icon::after {
    content: none;
}

.light a ul header h5
{
    color: #ffffff;
}
.light .u ul h6
{
    color: #ffffff;
}
.light .u ul h5
{
    color: #ffffff;
}
/* DARK MODE */

body.dark {
    --color-bg: #2a2b2f;
    --color-main: rgb(255, 255, 255);
}
body.dark .icon
{
    color: rgb(180, 180, 180);
}
.dark .search1 a
{
    color: #8ab4e4;
}
.dark .opis
{
    color: #ffffff;
}

.dark .menu a
{
    color: rgb(241, 241, 241);
}


.u ul
{
    display: none;
    background: #dfdfdf;
    width: 25vh;
    height: 200px;
  text-align: center;


position: absolute;
left: 0;

}
.dark .search
{
 color: white;
    background-color: rgba(66, 66, 66, 0.85);
border: 0;


}
.dark .searchinput
{
    color: white;
}

.u:hover ul
{
    display: inline-block;
    
}

  
  .cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #858585;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  
    transition: 400ms;
  }
  
  .cookie-container.active {
    bottom: 0;
  }
  
  .cookie-container a {
    color: #f5f6fa;
  }
  
  .cookie-btn {
    background: #6539f8;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
  }
  .dark header h6
  {
    color: black;
  }
  .dark header h5
  {
    color: #000000;
  }
  .wyniki
  {
    margin-left: 2%;
  }

.menu i
{
    color: rgb(88, 88, 88);
}
.dark .menu i
{
    color: rgb(255, 255, 255); 
}
.dark .u .fa-cog
{
    color: #ffffff;
}
.searchinput
{
    background: 0;
    border: 0;
    padding: 12px 0px;
    height: 100%;
    width: 95%;
    outline: none;
    font-size: 15px;
}
.search i
{

  width: 5%;

  text-align: right;
  color: #269DFF;
font-size: 16px;
}

.gbtn
{
    background: 0;
    border: 0;
    height: 100%;
    width: 5%;

}
body *
{
    font-family: 'Poppins';
}
.gs-title *
{
font-size: 18px !important;

}
input
{
    font-family: sans-serif;
}
.gs-title:hover *
{
    text-decoration: underline !important;
}
.s
{
 margin-top: 5%;
color: #ffffff00;
}
.gcsc-find-more-on-google *
{
    display: none !important;
}
.gs-image *
{
    border-radius: 10px !important;
}
.gsc-inline-block *
{
    border: 0 !important;
    background: #efefef !important;
    font-weight: 600 !important;
  
 
 
}

.gsc-tabsArea *
{
display: none !important;

}
.gsc-positioningWrapper *
{
 display: none !important;
}

.open
{
    cursor: pointer;
    text-decoration: none;
    border-bottom: 2px solid #269DFF;
}

.menu a:hover
{
    text-decoration: none;
}
