li
{
    display: none;
}
@media screen and (max-width: 500px) {
    .logo
    {
display: none;
    }
}
    @media screen and (max-width: 500px) {
        .search
        {
            border: 1px solid #000000;
        }
}

.ad
{
    
    background: #fdc330;
    border-radius: 2px;
    padding: 1px 3px;

    color: #202124;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    margin-left: 0px;
    white-space: nowrap;
}

hr
{
  border: 0.1px solid rgb(164, 164, 164);
}
.poddomeny
{
    margin-left: 2%;
}
* {

    margin: 0;
  }
  p {
    margin: 7px 0;
    line-height: 2;
  }
body
{
    margin: 0;
    padding: 0;
}
.https
{
    font-size: 14px;
}
.h6
{
    font-size: 14px;
}
.opis
{
    color: rgb(88, 88, 88);
    font-size: 14px;
}


.search1 a
{
    color: rgb(0, 66, 173);
    text-decoration: none;
}
.menu a
{
    color: rgb(88, 88, 88);
    text-decoration: none;
    margin: 0 3rem;
}
.menu a:hover
{
    text-decoration: underline;
}
.search1 a:hover
{
text-decoration: underline;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:  sans-serif;
    background-color: #ffffff;
}


.wrapper {
    width: 100%;
    background-color: rgb(255, 255, 255);
    
}

.header {
    
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    
    padding: 20px 40px;
    
  
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.logo img
{
    
    position: absolute;
    top: 5%;
    
}

.keywords
{
    display: none;
}
.search1
{
   
    margin-bottom: 40px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.85);
    
}
.search {
	border: 1px solid rgb(72, 72, 72);

	-webkit-box-shadow: 0 0 16px 2px rgba(99, 99, 99, 0.8);
	box-shadow: 0 0 16px 2px rgba(88, 88, 88, 0.8);


    
    padding: 10px 20px;
    margin-left: 20%;
    width: 40%;
    font-size: 16px;
    border-radius: 20px;
    background-color: rgba(255,255,255,.85);
    border: 1px solid rgba(255,255,255,.85);
}

.drink-list {
    padding: 20px 40px;
}

h2 {
    padding: 30px 0;
}

ul {
    padding-bottom: 30px;
    font-size: 23px;
    list-style: none;
}

li {
    padding: 8px 30px;
    
}

li:last-child {
    border-bottom: 0;
}
.dropdown
{
    position: relative;
}
.dropdown ul
{
   
    width: 200px;
    text-align: center;
    position: absolute;
    background: #ffffff;
    padding: 0;
    list-style-type: none;
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: none;
}
.dropdown ul li
{
    padding: .5rem;
}
.dropdown ul li h6
{
width: 100%;
height: 100%;
display: inline-block;
padding: 0;
margin: 0;
}
.dropdown img:hover + ul 
{
  display: block;
}
.no
{
    background: radial-gradient(circle at center center, #583399 0%, #D300FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
